[submodule "libultraship"]
	path = libultraship
	url = https://github.com/Cogential/libultraship.git
	branch = lighthouse-android
[submodule "Torch"]
	path = Torch
	url = https://github.com/HarbourMasters/Torch.git
